* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.storePage {
  display: flex;
  width: 100%;
}

.itemSection {
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 8rem;
  row-gap: 4rem;
  margin-bottom: 2rem;
}

.h1 {
  align-self: flex-start;
  margin-bottom: 2rem;
}
