.cart {
  margin: 2rem 2rem 0 2rem;
  flex-grow: 3;
  width: 20%;
  background-color: rgba(50, 50, 50, 0.77);
  border-radius: 0.5rem;
  border: 1px black solid;
  height: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addedItems {
  height: 20rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: rgba(97, 93, 93, 0.77);
}

.addedItems .cartItem:nth-child(even) {
  background-color: rgba(134, 114, 114, 0.77);
}

.cartItem {
  padding: 0.3rem;
}
